
    <div *ngIf="cargando">
      <mat-spinner class="example-margin"></mat-spinner>
    </div>

    <div *ngIf="!cargando">
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Hemindall</span>
          <span class="example-spacer"></span>
          <button routerLink="/register" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" 
          routerLink="/start/register" routerLinkActive="Active">
            <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with heart icon"
          routerLink="/start/login" routerLinkActive="Active" >
            <mat-icon>login</mat-icon>
            </button>
      
        </mat-toolbar>
      </p>
      <div *ngIf="!dc" class="alert alert-warning" role="alert">
        {{textoError}}
      </div>

      <br><br><br>
        <!--Logindiv-->
        <mat-card class="example-card">
      <mat-grid-list cols="2" rowHeight="500px">       
        <mat-grid-tile>
      <div>
        <mat-card-header>
          <mat-card-title >Login</mat-card-title>                 
        </mat-card-header>
      <hr />
      <br>
        <mat-card-content>
                 
          <form class="example-form" [formGroup]="formularioLogin" >       
            <p>
              <mat-form-field class="example-full-width">
                <div *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="formularioLogin.controls['email'].errors.required">  Correo es requerido</span>
                    <span *ngIf="formularioLogin.controls['email'].errors.email">Correo no es Valido</span>
                </div> 
                <mat-label>Correo o usuario</mat-label>
                <input matInput type="email" formControlName="email">
              </mat-form-field>
               
              <mat-form-field class="example-full-width">
                <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="formularioLogin.controls['password'].errors.required">La contraseña es requerida</span> 
              </div>  
                <mat-label>password</mat-label>
                <input matInput type="password" ((keyup.enter)="ingresar()" formControlName="password">
              </mat-form-field>
            </p>
          </form>
      </mat-card-content>
      
      <mat-card-actions align="center">
      <table class="example-full-width" cellspacing="0"><tr>
        <button mat-raised-button type="submit" (click)="ingresar()" color="primary" [disabled]="!formularioLogin.valid" >login</button>
        <span>  </span>
        <span class="example-spacer"></span>
        <button mat-raised-button [routerLink]="['/']">Cancelar</button>              
      </tr></table>
      </mat-card-actions>
      <br>
      <mat-card-content align="center">Sing in with</mat-card-content>
      <hr>
      <mat-card-actions>
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="onGoogleLogin()">
            <img src="../assets/googlei_2.png" style="width: 20px; height: 20px;">
          </button>
          <span>  </span>
        <span class="example-spacer"></span>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>
              facebook
            </mat-icon>
          </button>
        </div> 
      </mat-card-actions>
      <br>

      <mat-card-content>
        <label class="Lavel-go" routerLink="/start/register" routerLinkActive="Active" >Si aun no tienes un usuario registrate</label>
      </mat-card-content>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/back2.png" alt="">
    </mat-grid-tile>
    </mat-grid-list>
  </mat-card> 

    <!-- <ngx-spinner bdColor = "rgba(0,0,0,0)" size = "large" color = "#8994e2" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->

