<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    
    <p>
        <mat-toolbar color="primary">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span routerLink="/start/register" routerLinkActive="active">Register</span>
                </button>
                
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span routerLink="/start/login" routerLinkActive="Active">Login</span>
                </button>
              </mat-menu>
          <span>Hemindall</span>
          <span class="example-spacer"></span>
          <button routerLink="/register" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" 
          routerLink="/start/register" routerLinkActive="Active">
            <mat-icon>create</mat-icon>
            </button>
          <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with heart icon"
          routerLink="/start/login" routerLinkActive="Active">
            <mat-icon>login</mat-icon>
            </button>
        </mat-toolbar>
      </p>

      <!--here is teh divition with grids-->

      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            
            [colspan]="4"
            [rowspan]="3"
            
            class="mat-grid1">

            <mat-card class="example-card">
                
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
            
        </mat-grid-tile>
      </mat-grid-list>


      
</body>
</html>


 
