<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--here is the nave bar-->
  <p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>create</mat-icon>
              <span routerLink="/start/register" routerLinkActive="active">Register</span>
            </button>
            
            <button mat-menu-item >
              <mat-icon>login</mat-icon>
              <span routerLink="/start/login" routerLinkActive="Active">Login</span>
            </button>
          </mat-menu>
      <span>Hemindall</span>
      <span class="example-spacer"></span>
      <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" 
      routerLink="/start/register" routerLinkActive="Active">
        <mat-icon>create</mat-icon>
        </button>
      <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with heart icon"
      routerLink="/start/login" routerLinkActive="Active">
        <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>
  </p>

  <!--Mat-grit-division-->
  
  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" >
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile>Hemindall es un proyecto de ocr que tiene
                como proposito ...
              </mat-grid-tile>
              <mat-grid-tile>Hemindall es un proyecto de ocr que tiene
                como proposito ...</mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <br>

  <mat-card>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="example-card-home">
                <mat-card-header>
                  
                  <mat-card-title>¿Que es?</mat-card-title>
                  <mat-card-subtitle>Heminadll</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-grid-back">
            <img  src="../assets/back2.png" alt="heminda-example-img-cart" class="img1">
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>
    
  <mat-card>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img mat-card-image src="../assets/back2.png" class="img1">
        </mat-grid-tile>

        <mat-grid-tile>

          <div class="example-card-home">
            <mat-card-header>
              
              <mat-card-title>¿Que es?</mat-card-title>
              <mat-card-subtitle>Heminadll</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </div>
    

        </mat-grid-tile>
      </mat-grid-list>

  </mat-card>

  
  <mat-card>

    <div>

      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
              <div class="example-card-home">
                  <mat-card-header>
                    
                    <mat-card-title>¿Que es?</mat-card-title>
                    <mat-card-subtitle>Heminadll</mat-card-subtitle>
                  </mat-card-header>
                  
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                </div>
          </mat-grid-tile>
  
          <mat-grid-tile>
              <img mat-card-image src="../assets/back2.png" alt="heminda-example-img-cart" class="img1">
          </mat-grid-tile>
        </mat-grid-list>
  
      </div>
  </mat-card>


  <!--Fotter home-->

  <mat-grid-list cols="3" rowHeight="358px" class="mat-grit-fotter">
    <mat-grid-tile >

        <div class="contact">
            <h1>contac us</h1>
        <br>
        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">facebook</mat-icon>
        <label style="color: white; font-size: 18px;">This is the facebook</label>
        <br>
        <h3>
            and More.
        </h3>
        </div>
        

    </mat-grid-tile>
    <mat-grid-tile>

        <div class="contact">
            <h1 style="text-align: center;">Send us your 
                oppinion</h1>
        <br>
        
        <!--<form class="example-form"></form>
            <mat-form-field class="example-full-width">
              <mat-label>leave your email</mat-label>
              <input matInput placeholder="Someone@hotmail.com" >
            </mat-form-field>
          </form>-->
        <br>
        <mat-form-field class="example-full-width">
            <mat-label >Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button>Send us</button>
        </div>

        

    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contact">
            <h1 style="text-align: center;">More of us</h1>
        <br>
        
        <label>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, eligendi obcaecati. Culpa provident ad deserunt fugiat! Ut, repudiandae alias in eius quibusdam quaerat exercitationem voluptatum vero sit commodi libero vitae?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit error laudantium molestiae nobis eveniet ad nostrum! Ea, minima ducimus. Ullam quas sint rem optio eius repellat, magnam perferendis voluptate. Atque.
            
        </label>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>
  
</body>
</html>
